@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "../_Layout.cshtml";
}
<div class="page-header">
    <h2>Authentication</h2>    
</div>
<div class="row">
    <div class="col-lg-1">
        <a href="@Url.Action("index", "resource")">Get Resource</a>
    </div>
</div>